@import '/src/styles/variables';

.App {
 background-color: white;
 width: 80vw;
 height: 80vh;
 max-width: 900px;
 border-radius: $border-radius;
 display: flex;
}

.content-container {
    width: 75%;
    height: 100%;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
