@import '/src/styles/variables';

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    flex-grow: 1;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    li {
        display: flex;
        flex-direction: column;
        padding: 0.2rem 0;
        position: relative;
        &:not(:first-child) {
            border-top: 2px solid $shadowColor;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.email {
    font-weight: 600;
}

.important {
    position: absolute;
    right: 0;
    font-size: 10px;
    font-weight: 600;
    color: red;
}

.text {
    p {
        margin: 0;
    }
}